# App
ENV=local
APP_PORT=8080
AUTO_MIGRATE=true

# Postgres
DB_HOST=auth-db
DB_PORT=5432
DB_USER=app_admin
DB_PASS=secret_pass
DB_NAME=app_db
DB_SSLMODE=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=15m

# Redis
REDIS_HOST=auth-redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# RabbitMQ (Local testing)
RABBITMQ_HOST=auth-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# JWT Auth
JWT_PRIVATE_KEY_BASE64=your_base64_private_key_here
JWT_PUBLIC_KEY_BASE64=your_base64_public_key_here