# ==========================================
# APP SETTINGS
# ==========================================
APP_ENV=local
APP_PORT=8080
SHUTDOWN_TIMEOUT=10s
AUTO_MIGRATE=true

# ==========================================
# POSTGRES
# ==========================================
DB_USER=your_db_user
DB_PASS=your_secure_password
DB_NAME=your_db_name

# ==========================================
# REDIS
# ==========================================
REDIS_DB=0

# ==========================================
# RABBITMQ
# ==========================================
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
EXCHANGE_NAME=events_exchange
EXCHANGE_TYPE=direct

# ==========================================
# JWT KEYS
# ==========================================
JWT_PRIVATE_KEY_BASE64=your_base64_encoded_private_key_here
JWT_PUBLIC_KEY_BASE64=your_base64_encoded_public_key_here

# ==========================================
# OAUTH
# ==========================================
CLIENT_ID=your_google_client_id
CLIENT_SECRETE=your_google_client_secret
REDIRECT_URL=https://localhost/auth/api/oauth/google/callback
