# Application settings
APP_ENV=local
APP_PORT=8080
SHUTDOWN_TIMEOUT=10s

# MongoDB settings
MONGO_USER=admin
MONGO_PASSWORD=admin
MONGO_DB=shop_notifications

# RabbitMQ settings
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
EXCHANGE_NAME=events_exchange

# SMTP Server settings (for sending emails)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASS=your_app_password
SMTP_FROM=noreply@example.com

# Auth settings
JWT_PUBLIC_KEY_BASE64=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0K...