APP_NAME=CatalogMicroservice
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://localhost:8445
APP_PORT=8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stderr
LOG_LEVEL=debug

# -----------------------------------------------------
# POSTGRESQL
# -----------------------------------------------------

DB_CONNECTION=pgsql
DB_HOST=catalog-db
DB_PORT=5432
DB_DATABASE=catalog_db
DB_USERNAME=admin
DB_PASSWORD=secret

# -----------------------------------------------------
# REDIS
# -----------------------------------------------------

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=catalog-redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# -----------------------------------------------------
# QUEUE
# -----------------------------------------------------

QUEUE_CONNECTION=sync

# -----------------------------------------------------
# SEAWEEDFS (S3 API)
# -----------------------------------------------------

FILESYSTEM_DISK=s3

AWS_ACCESS_KEY_ID=seaweed_admin
AWS_SECRET_ACCESS_KEY=seaweed_secret_123
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=catalog_assets
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_ENDPOINT=http://catalog-seaweedfs:8333

# -----------------------------------------------------
# OCTANE
# -----------------------------------------------------

OCTANE_SERVER=roadrunner